<If "req('Host') !~ /getqo.az/i && req('Host') != '164.92.134.149'">
  RewriteRule ^ - [R=404,L]
</If>


RewriteEngine On
# Sadece belirli domainlere izin ver
RewriteCond %{HTTP_HOST} !^getqo\.az$ [NC]
RewriteCond %{HTTP_HOST} !^www\.getqo\.az$ [NC]
RewriteRule ^(.*)$ https://www.google.com/ [R=301,L]








