.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  flex: 1 0 50%;
  @media (max-width: 1139px) {
    max-width: 100%;
  }
  .header {
    margin-bottom: 10px;
    .title {
      margin: 0;
      margin-bottom: 8px;
      font-size: 32px;
      line-height: 39px;
      font-weight: 600;
      letter-spacing: -0.03em;
      color: var(--dark-blue);
      @media (max-width: 576px) {
        font-size: 27px;
        line-height: 33px;
      }
    }
    .text {
      margin: 0;
      font-size: 15px;
      line-height: 18px;
      font-weight: 500;
      color: var(--dark-blue);
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .space {
    padding-top: 50px;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    .item {
      display: flex;
      align-items: center;
      column-gap: 12px;
      .label,
      a {
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
        color: var(--dark-blue);
        cursor: pointer;
      }
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .action {
    width: 100%;
  }

  .userInfo {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .login,
    .password {
      font-size: 16px;
      font-style: italic;
    }

    .copy {
      padding: 4px 12px;
      font-size: 16px;
      border-radius: 8px;
      color: var(--primary);
    }
  }
  .phoneInputCustom {
    border-bottom: 2px solid rgb(239, 236, 236);
    padding-bottom: 2px;
    width: 100%;
    transition: all 0.1s;
    position: relative;

    &:hover {
      border-color: black;
      border-width: 2px;
    }

    &:focus-within::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      right: 50%;
      height: 2px;
      background-color: #79d703;
      animation: focusBottomEffect 0.2s ease-out forwards;
    }

    &:not(:focus-within)::after {
      animation: reverseFocusBottomEffect 0.2s ease-out forwards;
    }

    @keyframes focusBottomEffect {
      0% {
        left: 50%;
        right: 50%;
      }
      100% {
        left: 0;
        right: 0;
      }
    }

    @keyframes reverseFocusBottomEffect {
      0% {
        left: 0;
        right: 0;
      }
      100% {
        left: 50%;
        right: 50%;
      }
    }

    input {
      border: none;
      outline: none;
    }
  }
}

[data-theme="dark"] {
  .phoneInputCustom {
    --primary-bg: rgba(24, 25, 29, 1);
    --secondary-bg: rgba(40, 46, 51, 1);
    --card-bg: rgba(53, 60, 67, 1);
    --ingrediend-text: rgba(200, 200, 200, 1);
    input {
      background-color: #282e33;
    }
    select option {
      background-color: #282e33;
    }
  }
}
